body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body::-webkit-scrollbar,
.promos::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track,
.promos::-webkit-scrollbar-track {
  background: $Light-Classy-Grey;
}

body::-webkit-scrollbar-thumb,
.promos::-webkit-scrollbar-thumb {
  background: $Blue-Beans;
}

main {
  flex: 1; /* Or flex-grow: 1;*/
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
